<?php

use Val\Interfaces\MigrationInterface;
use Val\App\{DB, Config};

Class CreateAuthSessionsTable Implements MigrationInterface
{
    public function up()
    {
        DB::raw('
            CREATE TABLE IF NOT EXISTS `' . Config::db('table_auth') . '` (
                `Id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
                `AccountId` bigint(20) unsigned NOT NULL,
                `DeviceType` varchar(63) DEFAULT NULL,
                `DevicePlatform` varchar(63) DEFAULT NULL,
                `DeviceBrowser` varchar(63) DEFAULT NULL,
                `SignedInAt` varchar(63) DEFAULT NULL,
                `LastSeenAt` varchar(63) DEFAULT NULL,
                `SignedInIPAddress` varbinary(16) DEFAULT NULL,
                `LastSeenIPAddress` varbinary(16) DEFAULT NULL,
                PRIMARY KEY (`Id`),
                KEY `AccountId` (`AccountId`)
            ) ENGINE=InnoDB;'
        );
    }

    public function down()
    {
        DB::raw('DROP TABLE ' . Config::db('table_auth') . ';');
    }

}
