<?php

return [

    /**
     * Application secret key.
     */
    'key' => '{key}',

    /**
     * Supported languages. The first language code in the list is the default
     * one.
     */
    'languages' => ['en'],

];
