<?php

return [

    /**
     * Authentication stateful session.
     */
    'session_cookie_name' => '__Host-passport',
    'session_ttl_days' => 7, // After this period the authentication session will be terminated, if the user was inactive.
    'session_update_minutes' => 5, // The "last seen" data will be updated not more often than this period.

];
