<?php

return [

	/**
     * Database connection.
     */
    'host' => 'localhost',
	'db' => 'database',
	'user' => 'user',
	'pass' => 'password',

	'table_migrations' => 'migrations',
	'table_auth' => 'auth'

];
