<?php

use Val\App\DBDriver;

return [
    
    /**
     * Supported drivers: MySQL (MariaDB), PostgreSQL and SQLite.
     * 
     * Default: Val\App\DBDriver::MySQL
     */
    'driver' => DBDriver::MySQL,

    /**
     * MySQL (MariaDB) or PostgreSQL
     */
    'host' => '127.0.0.1',
    'db'   => 'database',
    'user' => 'root',
    'pass' => '',

    /**
     * SQLite
     */
    // 'path' => Val\App::$DIR_ROOT . '/db.sqlite3',

];
